<div class="sidebar-title">

    🅿 Аналитика парковок

</div>

<div class="sidebar-body">

    <div class="info-card">

        <h5>Район</h5>

        <div id="selectedDistrict">

            Весь город

        </div>

    </div>

    <div class="info-card">

        <h5>Количество парковок</h5>

        <div id="parkingCount">

            0

        </div>

    </div>

    <div class="info-card">

        <h5>Общая площадь</h5>

        <div id="parkingArea">

            0 га

        </div>

    </div>

</div>