<div class="sidebar-title">

    🚦 Аналитика светофоров

</div>

<div class="sidebar-body">

    <div class="info-card">

        <h5>Район</h5>

        <div id="selectedDistrict">

            Не выбран

        </div>

    </div>

    <div class="info-card">

        <h5>Количество</h5>

        <div id="districtTrafficCount">

            —

        </div>

    </div>

    <div class="info-card">

        <h5>Статусы</h5>

        <div id="trafficStatus">

            —

        </div>

    </div>

    <div class="info-card">

        <h5>Типы</h5>

        <div id="trafficTypes">

            —

        </div>

    </div>

</div>