*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#20252b;
    color:white;
    font-family:"Segoe UI",Arial,sans-serif;
}

.layout{
    display:flex;
}

.main{
    margin-left:260px;
    width:100%;
    min-height:100vh;
}

.content{
    padding:30px;
}

/* ===========================
   LIGHT THEME
=========================== */

body.light-theme{
    background:#f3f5f8;
    color:#20252b;
}