/* ==========================================
   Leaflet Marker
========================================== */

.leaflet-marker-icon{

    transition:transform .2s ease;

}

.leaflet-marker-icon:hover{

    transform:scale(1.15);

}

/* ==========================================
   Marker Cluster
========================================== */

.marker-cluster-small{

    background:rgba(34,197,94,.25);

}

.marker-cluster-small div{

    background:#22c55e;

    color:white;

    font-weight:bold;

}

.marker-cluster-medium{

    background:rgba(59,130,246,.25);

}

.marker-cluster-medium div{

    background:#2563eb;

    color:white;

    font-weight:bold;

}

.marker-cluster-large{

    background:rgba(239,68,68,.25);

}

.marker-cluster-large div{

    background:#dc2626;

    color:white;

    font-weight:bold;

}