{% extends "base_dashboard.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dashboard-page">

    <div class="kpi-grid">

        <div class="kpi-card">
            🚦
            <h2 id="trafficLightsCount">0</h2>
            <span>Светофоры</span>
        </div>

        <div class="kpi-card">
            📷
            <h2 id="cameraDashboardCount">0</h2>
            <span>Камеры</span>
        </div>

        <div class="kpi-card">
            🚌
            <h2 id="busStopsCount">0</h2>
            <span>Остановки</span>
        </div>

        <div class="kpi-card">
            🛣️
            <h2 id="roadsCount">0</h2>
            <span>Дороги</span>
        </div>

        <div class="kpi-card">
            🚸
            <h2 id="crossingsCount">0</h2>
            <span>Пешеходные переходы</span>
        </div>

        <div class="kpi-card">
            ✳️
            <h2 id="intersectionsCount">0</h2>
            <span>Перекрёстки</span>
        </div>

        <div class="kpi-card">
            🚲
            <h2 id="bicycleLaneCount">0</h2>
            <span>Велодорожки</span>
        </div>

        <div class="kpi-card">
            🌉
            <h2 id="bridgeTunnelCount">0</h2>
            <span>Мосты / тоннели</span>
        </div>

        <div class="kpi-card">
            🅿️
            <h2 id="parkingDashboardCount">0</h2>
            <span>Парковки</span>
        </div>

        <div class="kpi-card">
            🚇
            <h2 id="metroCount">0</h2>
            <span>Станции метро</span>
        </div>

        <div class="kpi-card">
            🚆
            <h2 id="railwayStationsCount">0</h2>
            <span>Ж/Д станции</span>
        </div>

        <div class="kpi-card">
            🛤️
            <h2 id="railwayLinesCount">0</h2>
            <span>Ж/Д линии</span>
        </div>

        <div class="kpi-card">
            🚍
            <h2 id="busRoutesCount">0</h2>
            <span>Автобусные маршруты</span>
        </div>

    </div>


    <!-- ========================================= -->
    <!-- РАЙОНЫ -->
    <!-- ========================================= -->

    <div class="dashboard-top-grid">

        <div class="district-panel">

            <h3>Состояние по районам</h3>

            <div
                id="districtCards"
                class="district-grid">
            </div>

        </div>

    </div>

</div>

{% endblock %}