{% extends "base.html" %}

{% block title %}
Дашборд
{% endblock %}

{% block content %}

<div class="map-layout">

    <div class="map-container">

        <div id="map"></div>

    </div>

    <div class="analytics-panel">

        <div class="analytics-header">

            🏙 Аналитика города

        </div>

        <div class="analytics-card compact">

            <span>🚦 Светофоры</span>

            <h2 id="trafficLightsCount">0</h2>

        </div>

        <div class="analytics-card compact">

            <span>🚌 Остановки</span>

            <h2 id="busStopsCount">0</h2>

        </div>

        <div class="analytics-card compact">

            <span>🛣 Дороги</span>

            <h2 id="roadsCount">0</h2>

        </div>

        <div class="analytics-card compact">

            <span>🚶 Пешеходные переходы</span>

            <h2 id="crossingsCount">0</h2>

        </div>

        <div class="analytics-card compact">

            <span>➕ Перекрёстки</span>

            <h2 id="intersectionsCount">0</h2>

        </div>

        <div class="analytics-card compact">

            <span>🚇 Метро</span>

            <h2 id="metroCount">0</h2>

        </div>
        <div class="analytics-card compact">

        <span>🌉 Мосты / тоннели</span>

        <h2 id="bridgeTunnelCount">0</h2>

        </div>

        <div class="analytics-card compact">

            <span>🚴 Велодорожки</span>

            <h2 id="bicycleLaneDashboardCount">0</h2>

        </div>
        <div class="analytics-card compact">

            <span>🅿 Парковки</span>

            <h2 id="parkingDashboardCount">0</h2>

        </div>
        <div class="analytics-card compact">

            <span>📷 Камеры</span>

            <h2 id="cameraDashboardCount">0</h2>

        </div>

        <div class="analytics-card compact">

            <span>📡 Telekomsoft</span>

            <h2 id="telekomsoftDashboardCount">0</h2>

        </div>

    </div>

</div>

{% endblock %}