{% extends "base.html" %}

{% block title %}
{% block page_title %}{% endblock %}
{% endblock %}

{% block content %}

<div class="cards">

    {% block cards %}

    {% endblock %}

</div>

<div class="map-layout">

    <div class="map-container">

        <div id="map"></div>

    </div>

    <div class="right-sidebar">

        {% block right_sidebar %}

        {% endblock %}

    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/dashboard.js"></script>

{% endblock %}