<div class="topbar">

    <div class="topbar-left">

        <h4>

            Центр организации дорожного движения

        </h4>

    </div>

    <div class="topbar-right">
        <div class="weather-box" id="weatherBox">
            
            <div id="weatherIcon">🌤</div>

            <div class="weather-info">

                <div id="weatherTemp">--°C</div>

                <div id="weatherDesc">Загрузка...</div>

            </div>

        </div>
        <div class="weather-popup" id="weatherPopup">

            <h5 id="popupCity">📍 Ташкент</h5>

            <div>🌡 Температура: <span id="popupTemp"></span></div>

            <div>🤗 Ощущается: <span id="popupFeels"></span></div>

            <div>💧 Влажность: <span id="popupHumidity"></span></div>

            <div>💨 Ветер: <span id="popupWind"></span></div>

            <div>☁ Облачность: <span id="popupClouds"></span></div>

            <div>🌧 Осадки: <span id="popupRain"></span></div>

            <div>👁 Видимость: <span id="popupVisibility"></span></div>

        </div>

        <button id="themeToggle" class="theme-button">

            🌙

        </button>

        <div class="clock-box">

            <div id="currentDate"></div>

            <div id="clock"></div>

        </div>

    </div>

</div>

<script>

const themeButton = document.getElementById("themeToggle");

function loadTheme() {

    const theme = localStorage.getItem("theme") || "dark";

    document.body.classList.toggle(

        "light-theme",

        theme === "light"

    );

    themeButton.innerHTML =

        theme === "light"

            ? "☀️"

            : "🌙";

}

themeButton.onclick = function () {

    const light = document.body.classList.toggle(

        "light-theme"

    );

    localStorage.setItem(

        "theme",

        light ? "light" : "dark"

    );

    themeButton.innerHTML =

        light

            ? "☀️"

            : "🌙";

};

loadTheme();

/* ========================================= */
/* CLOCK */
/* ========================================= */

function updateClock() {

    const now = new Date();

    const date = now.toLocaleDateString(

        "ru-RU",

        {

            day: "2-digit",

            month: "2-digit",

            year: "numeric"

        }

    );

    const time = now.toLocaleTimeString(

        "ru-RU"

    );

    document.getElementById("currentDate").innerHTML =

        "🗓 " + date;

    document.getElementById("clock").innerHTML =

        "🕒 " + time;

}

updateClock();

setInterval(

    updateClock,

    1000

);

</script>